doctype html
html
  head
    meta(charset='utf-8')
    title US Stock Market Watch
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    section.section.section-heading
      .container
        h1.title.is-1 US Stock Market Watch
    section.section
      form.container.form-container#form-container
        .field.is-horizontal
           .columns
            .column.is-4#js-stocksdropdown
              // Insert backbone template
            .column.is-8
              .field-container
                h2.is-size-3 Search Params
                .field-body
                  .field
                    label.label Order By
                    p.control
                      span.select.is-medium
                        select(name="order_by" id="order_by")
                          option(value="asc") Ascending
                          option(value="desc") Descending
                  .field
                    label.label Collapse By
                    p.control
                      span.select.is-medium
                        select(name="collapse_by" id="collapse_by")
                          option(value="none") None
                          option(value="daily") Daily
                          option(value="weekly") Weekly
                          option(value="monthly") Monthly
                          option(value="quarterly") Quarterly
                          option(value="annual") Annual
                //- TODO - for dynamically populating date fields
                //- .field-body
                //-   - const days = [{id:"", value:"Day"},{id:"01",value:"01"},{id:"02",value:"02"},{id:"03",value:"03"}]
                //-   - const months = [{id:"", value:"Month"},{id:"01",value:"Jan"},{id:"02",value:"Feb"},{id:"03",value:"Mar"}]
                //-   - const years = [{id:"", value:"Year"},{id:"2017",value:"2017"},{id:"2016",value:"2016"},{id:"2015",value:"2015"}] 
                //-   .field
                //-     label.label Start Date
                //-     .field-body.start-date-select-group#start-date-select-group
                //-       .select
                //-         select(name="day_select")
                //-           each day in days
                //-             option(value=(day.id)) #{day.value}
                //-       .select
                //-         select(name="month_select")
                //-           each month in months
                //-             option(value=(month.id)) #{month.value}
                //-       .select
                //-         select(name="year_select")
                //-           each year in years
                //-             option(value=(year.id)) #{year.value}
                //-   .field
                //-     label.label End Date
                //-     .field-body.end-date-select-group#end-date-select-group
                //-       .select
                //-         select(name="day_select")
                //-           each day in days
                //-             option(value=(day.id)) #{day.value}
                //-       .select
                //-         select(name="month_select")
                //-           each month in months
                //-             option(value=(month.id)) #{month.value}
                //-       .select
                //-         select(name="year_select")
                //-           each year in years
                //-             option(value=(year.id)) #{year.value}
                h2.is-size-3 Options
                .field-body
                  .field
                    label.label Download as
                    p.control
                      span.select.is-medium
                        select(name="download_type" id="download_type")
                          option(value="json") JSON
                          option(value="csv") CSV                  
                .is-divider(data-content='OR')                   
                .field
                  p.control
                    label.checkbox
                      input(type='checkbox' name='is_table' id='is_table')
                      |                         Display them as table
        .field
          button.button.is-large.is-primary(type="button" name="submit_button" id="submit_button") Submit
    section.section.section-table
      .container.table-container#table-container
                            
    //- Underscore Templates

    //- DropDownView Templates
    script#stockNamesDropdownView(type='text/template').
      <h1 class="is-size-3">Stock Quotes</h1>
      <label class="label">Available Stocks</label>
      <p class="control">
        <span class="select is-medium">
          <select name="stock_id" id="stock_id"></select>
        </span>
      </p>
    
    script#optionitem-template(type="text/template").
      <option value=<%- key %>><%- value %></option>
    //- end DropDownView Templates

    //- end TableView Templates
    script#stocksTableView(type="text/template").
      <h1 class="title is-4"><%- title %></h1>
      <table class="table">
        <thead>
          <tr>
            <% _.each(column_names, function(column_name) { %> 
                <th>
                  <abbr title=<%= column_name %>><%= column_name %></abbr>
                </th>
            <% }); %>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <% _.each(column_names, function(column_name) { %> 
                <th>
                  <abbr title=<%= column_name %>><%= column_name %></abbr>
                </th>
            <% }); %>
          </tr>
        </tfoot>
        <tbody class="table-body" id="table-body">          
        </tbody>
      </table>
    script#tablerow-template(type="text/template").
      <tr>
        <th><%- date %></th>
        <td><%- open %></td>
        <td><%- high %></td>
        <td><%- low %></td>
        <td><%- close %></td>
        <td><%- volume %></td>
        <td><%- ex_dvd %></td>
        <td><%- split_ratio %></td>
        <td><%- adj_open %></td>
        <td><%- adj_high %></td>
        <td><%- adj_low %></td>
        <td><%- adj_close %></td>
        <td><%- adj_vol %></td>
      </tr>
    //- end TableView Templates

    // Bower Assets
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/backbone/backbone-min.js')
    script(src='bower_components/d3/d3.min.js')

    // Non-Bower Assets
    script(src='scripts/backbone-callbacks-min.js')
    script(src='scripts/backbone.localstorage.min.js')
    script(src='scripts/models/stocksDropDownModel.js')
    script(src='scripts/models/stocksModel.js')
    script(src='scripts/collections/stocksCollections.js')
    script(src='scripts/collections/stocksDropDownCollection.js')
    script(src='scripts/views/stocksTableView.js')
    script(src='scripts/views/stocksTableRowView.js')
    script(src='scripts/views/stocksDropDownView.js')
    script(src='scripts/views/stocksDropDownOptionView.js')
    script(src='scripts/views/stocksFormView.js')
    script(src='scripts/views/stocksGraphView.js')
    script(src='scripts/app.js')
